.App {
  font-family: sans-serif;
}


textarea {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: none;
  padding: 10px;
  font-size: 1.2rem;
  word-break: break-all;
}

.arena {
  position: relative;
}

.mistake {
  width: 900px;
  padding: 10px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  word-break: break-all;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: monospace;
}